asgiref
branca
certifi
charset-normalizer
Django
folium
gunicorn
idna
Jinja2
jsons
MarkupSafe
notifications
numpy
psycopg
psycopg2-binary
requests
sqlparse
typing_extensions
typish
urllib3
whitenoise
